{{ define "main" }}
<section class="prose screen-container mt-8 md:mt-12 mb-12">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
</section>
<section class="screen-container">
  {{ if isset .Params "heading" }}
  <h1 class="font-semibold mb-6 text-2xl">{{ .Params.Heading }}</h1>
  {{end}}
  <ul>
    {{ range .Pages }} {{ with .Params.Hide }} {{ else }}
    <li class="mb-8">
      <a class="flex-col" href="{{ .Permalink }}">
        {{ if isset .Params "timerange" }}
        <span
          class="bg-zinc-500 px-1.5 py-0.5 text-zinc-100 mr-0.5 rounded text-xs"
          >{{ .Params.Timerange }}</span
        >
        {{ end }} {{ if isset .Params "type" }}
        <span
          class="bg-zinc-700 text-zinc-100 mr-0.5 rounded text-xs px-1.5 py-0.5"
          >{{ .Params.Type }}</span
        >
        {{ end }}
        <h2 class="font-semibold mt-1">{{ .Title }} &#x2192;</h2>
        <section class="prose text-zinc-500">{{ .Params.Description }}</section>
      </a>
    </li>
    {{ end }} {{ end }}
  </ul>
</section>
{{ end }}
