{{ define "main" }}
<section class="screen-container mb-16">
  <p>{{ .Content }}</p>
</section>
<section class="screen-container">
  <h1 class="font-semibold mb-6 text-2xl">{{ .Params.Heading }}</h1>
  <ul>
    {{ range .Pages }}
    <li class="mb-8">
      <a class="flex-col" href="{{ .Permalink }}">
          {{ if isset .Params "timerange" }}
          <span class="bg-zinc-500 px-1.5 py-0.5 text-zinc-100 mr-1 rounded text-sm"
            >{{ .Params.Timerange }}</span
          >
          {{ end }}
          {{ if isset .Params "type" }}
          <span class="{{ if eq .Params.Type "Commercial" }} bg-orange-700 text-white {{end}} {{ if eq .Params.Type "Personal" }} bg-sky-700 text-white {{ end }} mr-1 rounded text-sm px-1.5 py-0.5"
            >{{ .Params.Type }}</span
          >
          {{ end }}
        <h2 class="font-semibold mt-2">{{ .Title }} &#x2192;</h2>
        <section class="prose">{{ .Content }}</section>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
